# Ecommerce Purchases Exercise Overview

Hi Guys,<br>
After a crash course on pandas for data analysis, its time to do some practice!!!<br>
Because of privacy issues, I have created a fake dataset here with 30K entries. <br>
The situation is, customers are providing some personal information while purchasing stuff on-line or in-store. For some reasons, your client wants to know the answer to some of his questions from the dataset, let's try to help him!.<br>

*Feel free to consult the solutions if needed. Please note, the tasks given in the exercises, can be solved in different ways. Try your best answer and compare with the solutions.* <br>
&#9758; The dataset is provided in the course downloads.

**1. Import Pandas and Read the csv file.**

In [3]:
import pandas as pd
ecommerce = pd.read_csv("E:\PROJECT FILE\Pandas_Assignment\Pandas_Assignment\Cust_Purch_FakeData.csv")
ecommerce

<>:2: SyntaxWarning: invalid escape sequence '\P'
<>:2: SyntaxWarning: invalid escape sequence '\P'
C:\Users\pial_\AppData\Local\Temp\ipykernel_4452\2548020960.py:2: SyntaxWarning: invalid escape sequence '\P'
  ecommerce = pd.read_csv("E:\PROJECT FILE\Pandas_Assignment\Pandas_Assignment\Cust_Purch_FakeData.csv")

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
0,Dr.,Ray,Morton,sebvajom@kol.km,Male,38,Medtronic Inc.,Health Therapist,(987) 619-2695,B6V 3W3,MB,5020000000000230,May-18,Solo,8.36,Blue,126.23.139.2,Sunday,pm,4/5/1930
1,Miss,Claudia,Rodriquez,acu@jatsot.ug,Female,51,"Ames Department Stores, Inc.",Health Therapist,(356) 736-7352,G7M 5F3,SK,5020000000000230,Jul-28,Visa,68.31,Black,106.198.76.211,Tuesday,am,12/20/1926
2,Miss,Harry,Meyer,zuz@lo.wf,Female,51,CSX Corp.,Political Scientist,(539) 246-1806,A0Z 6P9,NS,6300000000000000,Feb-23,Switch,34.65,Black,186.150.187.29,Wednesday,pm,8/20/1931
3,Miss,Edith,Gilbert,hansohsi@jupec.md,Female,55,Murphy Oil Corporation,Transportation Manager,(984) 962-7494,P9I 9H3,YT,3530000000000000,Feb-28,Maestro,64.59,White,80.140.57.161,Saturday,am,6/18/2001
4,Dr.,Lura,Murphy,webediti@je.st,Female,20,PETsMART Inc,Statistician,(902) 568-9748,S1A 6K0,ON,4030000000000000,Oct-25,Diners Club International,20.83,Yellow,211.103.43.41,Friday,pm,6/14/2045
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,Mr.,John,Maxwell,larlisu@sejenu.ad,Female,38,Spherion Corp,Publishing Director,(873) 298-1178,V4U 0X2,YT,6330000000000000,Apr-28,Visa Electron,90.37,Red,194.14.119.109,Sunday,am,4/18/2014
29996,Dr.,Alfred,Bass,le@duridzo.gh,Female,24,Ford Motor Co,Diamond Merchant,(541) 904-3323,T9O 1H6,PE,201000000000000,Dec-26,American Express,5.94,White,154.114.74.254,Sunday,pm,9/27/2068
29997,Mrs.,Edward,Curtis,ta@kucemah.et,Female,56,Park Place Entertainment Corp,Executive Director,(375) 931-8605,X5Z 4E1,QC,201000000000000,Jun-21,Maestro,65.66,Black,188.0.106.220,Monday,pm,9/7/1997
29998,Mr.,Max,Woods,li@mincoz.mp,Female,64,Nacco Industries Inc,University Administrator,(786) 481-9627,G0S 9Q8,NS,30000000000000,Aug-23,Solo,52.66,Black,129.168.247.27,Monday,pm,9/8/1938
29999,Mr.,Olga,Rodriguez,ner@ota.ec,Male,22,Texas Industries Inc.,Leasing Manager,(841) 962-4087,N2D 5K3,BC,6300000000000000,May-24,InstaPayment,17.71,Yellow,70.2.107.65,Wednesday,am,6/22/1956

**2. Its good idea to see how the data look like, display first 5 rows of your data-set.**

In [8]:
import pandas as pd
ecommerce = pd.read_csv("E:\PROJECT FILE\Pandas_Assignment\Pandas_Assignment\Cust_Purch_FakeData.csv")
first_five_rows = ecommerce.head(5)
first_five_rows

<>:2: SyntaxWarning: invalid escape sequence '\P'
<>:2: SyntaxWarning: invalid escape sequence '\P'
C:\Users\pial_\AppData\Local\Temp\ipykernel_6772\44883353.py:2: SyntaxWarning: invalid escape sequence '\P'
  ecommerce = pd.read_csv("E:\PROJECT FILE\Pandas_Assignment\Pandas_Assignment\Cust_Purch_FakeData.csv")

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
0,Dr.,Ray,Morton,sebvajom@kol.km,Male,38,Medtronic Inc.,Health Therapist,(987) 619-2695,B6V 3W3,MB,5020000000000230,May-18,Solo,8.36,Blue,126.23.139.2,Sunday,pm,4/5/1930
1,Miss,Claudia,Rodriquez,acu@jatsot.ug,Female,51,"Ames Department Stores, Inc.",Health Therapist,(356) 736-7352,G7M 5F3,SK,5020000000000230,Jul-28,Visa,68.31,Black,106.198.76.211,Tuesday,am,12/20/1926
2,Miss,Harry,Meyer,zuz@lo.wf,Female,51,CSX Corp.,Political Scientist,(539) 246-1806,A0Z 6P9,NS,6300000000000000,Feb-23,Switch,34.65,Black,186.150.187.29,Wednesday,pm,8/20/1931
3,Miss,Edith,Gilbert,hansohsi@jupec.md,Female,55,Murphy Oil Corporation,Transportation Manager,(984) 962-7494,P9I 9H3,YT,3530000000000000,Feb-28,Maestro,64.59,White,80.140.57.161,Saturday,am,6/18/2001
4,Dr.,Lura,Murphy,webediti@je.st,Female,20,PETsMART Inc,Statistician,(902) 568-9748,S1A 6K0,ON,4030000000000000,Oct-25,Diners Club International,20.83,Yellow,211.103.43.41,Friday,pm,6/14/2045

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
0,Dr.,Ray,Morton,sebvajom@kol.km,Male,38,Medtronic Inc.,Health Therapist,(987) 619-2695,B6V 3W3,MB,5020000000000230,05/2018,Solo,8.36,Blue,126.23.139.2,Sunday,pm,04/05/1930
1,Miss,Claudia,Rodriquez,acu@jatsot.ug,Female,51,"Ames Department Stores, Inc.",Health Therapist,(356) 736-7352,G7M 5F3,SK,5020000000000230,07/2028,Visa,68.31,Black,106.198.76.211,Tuesday,am,12/20/1926
2,Miss,Harry,Meyer,zuz@lo.wf,Female,51,CSX Corp.,Political Scientist,(539) 246-1806,A0Z 6P9,NS,6300000000000000,02/2023,Switch,34.65,Black,186.150.187.29,Wednesday,pm,08/20/1931
3,Miss,Edith,Gilbert,hansohsi@jupec.md,Female,55,Murphy Oil Corporation,Transportation Manager,(984) 962-7494,P9I 9H3,YT,3530000000000000,02/2028,Maestro,64.59,White,80.140.57.161,Saturday,am,06/18/2001
4,Dr.,Lura,Murphy,webediti@je.st,Female,20,PETsMART Inc,Statistician,(902) 568-9748,S1A 6K0,ON,4030000000000000,10/2025,Diners Club International,20.83,Yellow,211.103.43.41,Friday,pm,06/14/2045

**3. How many entries your data have? 
Can you tell the no. of columns in your data?**

In [4]:
import pandas as pd
ecommerce.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   prefix      30000 non-null  object
 1   first       30000 non-null  object
 2   last        30000 non-null  object
 3   email       30000 non-null  object
 4   gender      30000 non-null  object
 5   age         30000 non-null  int64
 6   company     30000 non-null  object
 7   profession  30000 non-null  object
 8   phone       30000 non-null  object
 9   postal      30000 non-null  object
 10  province    30000 non-null  object
 11  cc_no       30000 non-null  int64
 12  cc_exp      30000 non-null  object
 13  cc_type     30000 non-null  object
 14  price(CAD)  30000 non-null  float64
 15  fav_color   30000 non-null  object
 16  ip          30000 non-null  object
 17  weekday     30000 non-null  object
 18  ampm        30000 non-null  object
 19  date        30000 non-null  object
dtypes: float64(1), int64(2), object(17)
memory usage: 4.6+ MB

**4. What are the max and min ages of your customer? Can you find mean of your customer?**

In [5]:
import pandas as pd
print('Max ages of customer:', ecommerce['age'].max())
print('Min ages of customer:', ecommerce['age'].min())
print('mean ages of customer:', ecommerce['age'].mean())

Max ages of customer: 65
Min ages of customer: 18
mean ages of customer: 41.550066666666666

Max. age of the customer is:  65
Max. age of the customer is:  18
Avg. age of the customer is:  41.550066666666666

**5. What are the three most common customer's names?**<br>
&#9989; [<code>**value_counts()**</code>](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) returns object containing counts of unique values. The resulting object will be in descending order so that the first element is the most frequently-occurring element. Excludes NA values by default.

In [8]:
import pandas as pd
print(ecommerce['first'].value_counts().head(3))

first
Willie     130
Francis    124
Eula        86
Name: count, dtype: int64

Willie     130
Francis    124
Eula        86
Name: first, dtype: int64

**6. Two customers have the same phone number, can you find those customers**?

In [9]:
ecommerce.groupby('phone')['first'].count().sort_values(ascending=False).head(1)

phone
(263) 382-8004    2
Name: first, dtype: int64

In [10]:
ecommerce['phone'].value_counts().head(1)

phone
(263) 382-8004    2
Name: count, dtype: int64

In [11]:
ecommerce[ecommerce['phone'] == '(263) 382-8004']

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
15,Mrs.,Lilly,Tyler,kofadu@itohi.tf,Female,38,CSX Corp.,Structural Engineer,(263) 382-8004,V7K 1E3,ON,30000000000000,Nov-22,Diners Club Carte Blanche,9.61,Yellow,74.124.37.227,Saturday,am,3/30/1985
16,Mrs.,Peter,Cain,megkosig@anazeor.gn,Male,27,Campbell Soup Co.,Insurance Adjuster,(263) 382-8004,E8T 2B4,YT,3530000000000000,Mar-24,Solo,13.74,Black,25.207.141.135,Tuesday,am,8/5/1950

In [8]:
# Now we know the phone number, let's find out the other stuff!

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
15,Mrs.,Lilly,Tyler,kofadu@itohi.tf,Female,38,CSX Corp.,Structural Engineer,(263) 382-8004,V7K 1E3,ON,30000000000000,11/2022,Diners Club Carte Blanche,9.61,Yellow,74.124.37.227,Saturday,am,03/30/1985
16,Mrs.,Peter,Cain,megkosig@anazeor.gn,Male,27,Campbell Soup Co.,Insurance Adjuster,(263) 382-8004,E8T 2B4,YT,3530000000000000,03/2024,Solo,13.74,Black,25.207.141.135,Tuesday,am,08/05/1950

**7. How many customers have profession "Structural Engineer"?**

In [9]:
import pandas as pd
ecommerce['profession'].value_counts().get('Structural Engineer', 0)

np.int64(87)

**8. How many male customers are 'Structural Engineer'?**

In [8]:
ecommerce[(ecommerce['profession']=='Structural Engineer') & (ecommerce['gender']=='Male')].count()

prefix        43
first         43
last          43
email         43
gender        43
age           43
company       43
profession    43
phone         43
postal        43
province      43
cc_no         43
cc_exp        43
cc_type       43
price(CAD)    43
fav_color     43
ip            43
weekday       43
ampm          43
date          43
dtype: int64

prefix        43
first         43
last          43
email         43
gender        43
age           43
company       43
profession    43
phone         43
postal        43
province      43
cc_no         43
cc_exp        43
cc_type       43
price(CAD)    43
fav_color     43
ip            43
weekday       43
ampm          43
date          43
dtype: int64

**9. Find out the female Structural Engineers from province Alberta (AB)?**

In [14]:

ecommerce[(ecommerce['profession']=='Structural Engineer')
          &(ecommerce['gender']=='Female')
          &(ecommerce['province']=='AB')]

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
8858,Dr.,Roy,Stanley,apiunvo@ehasom.ir,Female,39,Cincinnati Financial Corp.,Structural Engineer,(876) 758-2929,N5A 6L2,AB,6300000000000000,Feb-22,InstaPayment,31.86,Red,165.249.159.57,Sunday,pm,12/25/1903
9058,Mr.,Lora,Kennedy,dennap@rabac.se,Female,51,BJ Services Company,Structural Engineer,(305) 786-6959,N3R 4B7,AB,201000000000000,Jun-19,Diners Club United States & Canada,53.29,Black,42.216.243.206,Thursday,pm,6/6/2028
24736,Mrs.,Nell,Richards,dob@me.ki,Female,18,Telephone & Data Systems Inc,Structural Engineer,(262) 681-5018,N3Y 3G2,AB,347000000000000,Jul-28,American Express,76.28,Blue,91.16.30.156,Wednesday,pm,7/14/1951
29865,Mrs.,Don,McDaniel,naf@zudu.bj,Female,37,Anadarko Petroleum Corporation,Structural Engineer,(238) 789-2825,B4A 8Q9,AB,5610000000000000,Dec-22,Mastercard,62.71,Blue,162.233.117.142,Sunday,pm,11/3/1989

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
8858,Dr.,Roy,Stanley,apiunvo@ehasom.ir,Female,39,Cincinnati Financial Corp.,Structural Engineer,(876) 758-2929,N5A 6L2,AB,6300000000000000,02/2022,InstaPayment,31.86,Red,165.249.159.57,Sunday,pm,12/25/1903
9058,Mr.,Lora,Kennedy,dennap@rabac.se,Female,51,BJ Services Company,Structural Engineer,(305) 786-6959,N3R 4B7,AB,201000000000000,06/2019,Diners Club United States & Canada,53.29,Black,42.216.243.206,Thursday,pm,06/06/2028
24736,Mrs.,Nell,Richards,dob@me.ki,Female,18,Telephone & Data Systems Inc,Structural Engineer,(262) 681-5018,N3Y 3G2,AB,347000000000000,07/2028,American Express,76.28,Blue,91.16.30.156,Wednesday,pm,07/14/1951
29865,Mrs.,Don,McDaniel,naf@zudu.bj,Female,37,Anadarko Petroleum Corporation,Structural Engineer,(238) 789-2825,B4A 8Q9,AB,5610000000000000,12/2022,Mastercard,62.71,Blue,162.233.117.142,Sunday,pm,11/03/1989

**10. What is the max, min and average spending?**

In [18]:
max_spending = ecommerce['price(CAD)'].max()
min_spending = ecommerce['price(CAD)'].min()
avg_spending = ecommerce['price(CAD)'].mean()
print(f"Max Spending: {max_spending}")
print(f"Min Spending: {min_spending}")
print(f"Average Spending: {avg_spending}")

Max Spending: 100.0
Min Spending: 0.0
Average Spending: 49.990775

Max. spending:  100.0
Mai. spending:  0.0
Avg. spending:  49.990775000000184

**11. Who did not spend anything? Company wants to send a deal to encourage the customer to buy stuff!**

In [21]:
no_spending_customers = ecommerce[ecommerce['price(CAD)'] == 0]
print(no_spending_customers)

      prefix  first   last           email  gender  age              company  \
5320     Dr.  Bruce  Bryan  ru@pubuspuh.cl    Male   59  Wal-Mart Stores Inc
10597   Mrs.  Flora  Clark      wad@me.com  Female   27         MetLife Inc.

                profession           phone   postal province            cc_no  \
5320   Engineer Technician  (709) 446-8317  H6H 3Y0       NU  201000000000000
10597      Cruise Director  (775) 373-6590  B2U 8K6       NB   30100000000000

       cc_exp                    cc_type  price(CAD) fav_color             ip  \
5320   Apr-24                   Bankcard         0.0     White    82.70.62.64
10597  May-20  Diners Club Carte Blanche         0.0       Red  231.156.15.63

         weekday ampm        date
5320   Wednesday   am  12/11/1900
10597   Thursday   pm   8/22/1904

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
5320,Dr.,Bruce,Bryan,ru@pubuspuh.cl,Male,59,Wal-Mart Stores Inc,Engineer Technician,(709) 446-8317,H6H 3Y0,NU,201000000000000,04/2024,Bankcard,0.0,White,82.70.62.64,Wednesday,am,12/11/1900
10597,Mrs.,Flora,Clark,wad@me.com,Female,27,MetLife Inc.,Cruise Director,(775) 373-6590,B2U 8K6,NB,30100000000000,05/2020,Diners Club Carte Blanche,0.0,Red,231.156.15.63,Thursday,pm,08/22/1904

**12. As a loyalty reward, company wants to send thanks coupon to those who spent 100CAD or more, please find out the customers?**

In [9]:
ecommerce[ecommerce['price(CAD)'] >= 100]

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
76,Mrs.,Gregory,Brown,hav@jek.gs,Female,31,"E*Trade Group, Inc.",Novelist,(625) 537-8923,X3S 4Q2,PE,6010000000000000,Apr-18,Visa,100.0,Green,212.100.18.95,Monday,am,10/23/2063
21093,Mrs.,Cody,Christensen,get@jovu.ag,Male,28,National City Corp.,Hospital Administrator,(261) 737-3292,X0S 1O5,PE,201000000000000,Mar-24,JCB,100.0,Green,168.48.19.165,Wednesday,pm,3/28/1955
24385,Miss,Lizzie,Dixon,goh@tuwjaz.gd,Female,38,FleetBoston Financial Co.,Compensation Analyst,(989) 239-1752,V8X 9V6,NB,6300000000000000,Jul-19,Bankcard,100.0,Blue,140.87.99.78,Saturday,pm,3/3/1983

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
76,Mrs.,Gregory,Brown,hav@jek.gs,Female,31,"E*Trade Group, Inc.",Novelist,(625) 537-8923,X3S 4Q2,PE,6010000000000000,04/2018,Visa,100.0,Green,212.100.18.95,Monday,am,10/23/2063
21093,Mrs.,Cody,Christensen,get@jovu.ag,Male,28,National City Corp.,Hospital Administrator,(261) 737-3292,X0S 1O5,PE,201000000000000,03/2024,JCB,100.0,Green,168.48.19.165,Wednesday,pm,03/28/1955
24385,Miss,Lizzie,Dixon,goh@tuwjaz.gd,Female,38,FleetBoston Financial Co.,Compensation Analyst,(989) 239-1752,V8X 9V6,NB,6300000000000000,07/2019,Bankcard,100.0,Blue,140.87.99.78,Saturday,pm,03/03/1983

**13. How many emails are associated with this credit card number '5020000000000230'?**

In [23]:
filtered_df = ecommerce[ecommerce["cc_no"] == 5020000000000230]
email_count = filtered_df["email"].nunique()
print(f"Number of unique emails associated with the credit card: {email_count}")

Number of unique emails associated with the credit card: 2

0    sebvajom@kol.km
1      acu@jatsot.ug
Name: email, dtype: object

**14. We need to send new cards to the customers well before the expire, how many cards are expiring in 2019?**<br>
*Use `sum()` and `count()` and see the difference in their use :)*

In [ ]:
sum(ecommerce ['cc_exp'].apply(lambda x: x[5:]) == '19')

np.int64(0)

prefix        0
first         0
last          0
email         0
gender        0
age           0
company       0
profession    0
phone         0
postal        0
province      0
cc_no         0
cc_exp        0
cc_type       0
price(CAD)    0
fav_color     0
ip            0
weekday       0
ampm          0
date          0
dtype: int64

**15. How many people use Visa as their Credit Card Provider?**

In [37]:
import pandas as pd
ecommerce [ ecommerce   ['cc_type']=='Visa']['prefix'].count()

np.int64(1721)

In [38]:
sum( ecommerce ['cc_type']=='Visa')

1721

**16. Can you find the customer who spent 100 CAD using Visa?**

In [29]:
import pandas as pd
filtered_df = ecommerce[(ecommerce['price(CAD)'] == 100)  & (ecommerce['cc_type'] == 'Visa')]
filtered_df

,prefix,first,last,email,gender,age,company,profession,phone,postal,...,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date,email_provider
76,Mrs.,Gregory,Brown,hav@jek.gs,Female,31,"E*Trade Group, Inc.",Novelist,(625) 537-8923,X3S 4Q2,...,6010000000000000,04/2018,Visa,100.0,Green,212.100.18.95,Monday,am,10/23/2063,jek.gs

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
76,Mrs.,Gregory,Brown,hav@jek.gs,Female,31,"E*Trade Group, Inc.",Novelist,(625) 537-8923,X3S 4Q2,PE,6010000000000000,04/2018,Visa,100.0,Green,212.100.18.95,Monday,am,10/23/2063

**17. What are two most common professions?**

In [22]:
import pandas as pd
profession_counts = ecommerce['profession'].value_counts()
top_2_professions = profession_counts.head(2)
top_2_professions

profession
Preschool Teacher       112
Distribution Manager    107
Name: count, dtype: int64

Preschool Teacher       112
Distribution Manager    107
Name: profession, dtype: int64

**18. Can you tell the top 5 most popular email providers? (e.g. gmail.com, yahoo.com, etc...)**

In [39]:
ecommerce

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
0,Dr.,Ray,Morton,sebvajom@kol.km,Male,38,Medtronic Inc.,Health Therapist,(987) 619-2695,B6V 3W3,MB,5020000000000230,May-18,Solo,8.36,Blue,126.23.139.2,Sunday,pm,4/5/1930
1,Miss,Claudia,Rodriquez,acu@jatsot.ug,Female,51,"Ames Department Stores, Inc.",Health Therapist,(356) 736-7352,G7M 5F3,SK,5020000000000230,Jul-28,Visa,68.31,Black,106.198.76.211,Tuesday,am,12/20/1926
2,Miss,Harry,Meyer,zuz@lo.wf,Female,51,CSX Corp.,Political Scientist,(539) 246-1806,A0Z 6P9,NS,6300000000000000,Feb-23,Switch,34.65,Black,186.150.187.29,Wednesday,pm,8/20/1931
3,Miss,Edith,Gilbert,hansohsi@jupec.md,Female,55,Murphy Oil Corporation,Transportation Manager,(984) 962-7494,P9I 9H3,YT,3530000000000000,Feb-28,Maestro,64.59,White,80.140.57.161,Saturday,am,6/18/2001
4,Dr.,Lura,Murphy,webediti@je.st,Female,20,PETsMART Inc,Statistician,(902) 568-9748,S1A 6K0,ON,4030000000000000,Oct-25,Diners Club International,20.83,Yellow,211.103.43.41,Friday,pm,6/14/2045
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,Mr.,John,Maxwell,larlisu@sejenu.ad,Female,38,Spherion Corp,Publishing Director,(873) 298-1178,V4U 0X2,YT,6330000000000000,Apr-28,Visa Electron,90.37,Red,194.14.119.109,Sunday,am,4/18/2014
29996,Dr.,Alfred,Bass,le@duridzo.gh,Female,24,Ford Motor Co,Diamond Merchant,(541) 904-3323,T9O 1H6,PE,201000000000000,Dec-26,American Express,5.94,White,154.114.74.254,Sunday,pm,9/27/2068
29997,Mrs.,Edward,Curtis,ta@kucemah.et,Female,56,Park Place Entertainment Corp,Executive Director,(375) 931-8605,X5Z 4E1,QC,201000000000000,Jun-21,Maestro,65.66,Black,188.0.106.220,Monday,pm,9/7/1997
29998,Mr.,Max,Woods,li@mincoz.mp,Female,64,Nacco Industries Inc,University Administrator,(786) 481-9627,G0S 9Q8,NS,30000000000000,Aug-23,Solo,52.66,Black,129.168.247.27,Monday,pm,9/8/1938
29999,Mr.,Olga,Rodriguez,ner@ota.ec,Male,22,Texas Industries Inc.,Leasing Manager,(841) 962-4087,N2D 5K3,BC,6300000000000000,May-24,InstaPayment,17.71,Yellow,70.2.107.65,Wednesday,am,6/22/1956

In [40]:
def emailspliter(x):
    return x.split('@')[1]
ecommerce ['email'].apply(emailspliter).value_counts().head(5)

email
gmail.com      1687
me.com         1676
outlook.com    1664
live.com       1660
hotmail.com    1659
Name: count, dtype: int64

In [41]:
ecommerce ['email'].apply(lambda x: x.split('@')[1]).value_counts().head(5)

email
gmail.com      1687
me.com         1676
outlook.com    1664
live.com       1660
hotmail.com    1659
Name: count, dtype: int64

**19. Is there any customer who is using email with "am.edu"?**<br>
Hint: Use `lambda` expression in `apply()`. split the email address at `@`.

In [42]:
ecommerce [ecommerce ['email'].apply(lambda x: x.split('@')[1])=='am.edu']

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
150,Miss,Loretta,Fletcher,barit@am.edu,Female,48,York International Corp,Rehabilitation Counselor,(323) 279-8038,E5X 8L0,QC,6330000000000000,May-21,Diners Club United States & Canada,97.26,White,147.57.240.225,Monday,am,11/7/2066

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
150,Miss,Loretta,Fletcher,barit@am.edu,Female,48,York International Corp,Rehabilitation Counselor,(323) 279-8038,E5X 8L0,QC,6330000000000000,05/2021,Diners Club United States & Canada,97.26,White,147.57.240.225,Monday,am,11/07/2066

**20. Which day of the week, the store gets more customers?**

In [43]:
ecommerce ['weekday'].value_counts().head()

weekday
Saturday     4376
Wednesday    4365
Thursday     4327
Friday       4316
Monday       4216
Name: count, dtype: int64

Saturday     4376
Wednesday    4365
Thursday     4327
Friday       4316
Monday       4216
Name: weekday, dtype: int64

# Excellent work!